*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
font-family:Arial,sans-serif;
background:#f5f5f5;
color:#111;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

header{
background:#111;
color:#fff;
padding:35px 0;
text-align:center;
border-bottom:6px solid #ff6b00;
}

header h1{
font-size:48px;
margin-bottom:10px;
}

header p{
font-size:18px;
}

.hero{
padding:50px 20px;
text-align:center;
background:#fff;
}

.hero h2{
font-size:38px;
margin-bottom:15px;
}

.hero p{
font-size:18px;
}

.cliente{
padding:40px 0;
}

.cliente h3{
margin-bottom:20px;
}

input,select{
width:100%;
padding:15px;
margin-bottom:15px;
border:2px solid #ddd;
border-radius:10px;
font-size:16px;
}

.productos{
padding:50px 0;
}

#catalogo{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.producto{
background:#fff;
padding:20px;
border-radius:16px;
box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.producto img{
width:100%;
height:220px;
object-fit:contain;
margin-bottom:15px;
}

.producto h4{
font-size:20px;
margin-bottom:10px;
}

.producto p{
margin-bottom:8px;
}

.controles{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
margin-top:15px;
}

.controles button{
width:40px;
height:40px;
font-size:22px;
border:none;
border-radius:50%;
background:#ff6b00;
color:#fff;
cursor:pointer;
}

.pedido{
padding:50px 0;
text-align:center;
}

#enviarPedido{
padding:18px 40px;
font-size:18px;
background:#ff6b00;
color:#fff;
border:none;
border-radius:12px;
cursor:pointer;
}

footer{
background:#111;
color:#fff;
text-align:center;
padding:30px;
margin-top:50px;
}

@media(max-width:768px){

header h1{
font-size:34px;
}

.hero h2{
font-size:28px;
}

.foto-producto{
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}

/* HERO RUGBY */


.hero{
background:linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.6)
),
url("pumas.jpeg");
background-size:cover;
background-position:center;
color:white;
padding:80px 20px;
}


.hero h2{
font-size:48px;
margin-bottom:15px;
text-transform:uppercase;
}


.hero p{
font-size:20px;
max-width:800px;
margin:auto;
}


.galeria-rugby{
margin-top:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}


.galeria-rugby img{
width:100%;
height:250px;
object-fit:cover;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.4);
transition:.3s;
}


.galeria-rugby img:hover{
transform:scale(1.03);
}


header{
background:#4b1f1f;
border-bottom:6px solid #f0c040;
}


#enviarPedido{
background:#4b1f1f;
}


.controles button{
background:#4b1f1f;
}


body{
font-family:'Trebuchet MS',sans-serif;
background:#f3f3f3;
}

}

