*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 }
html{
 scroll-behavior:smooth;
 }
body{
 font-family:‘Montserrat’,sans-serif;
 background:#101820;
 color:white;
 }
.container{
 width:90%;
 max-width:1200px;
 margin:auto;
 }
.hero-header{
 height:100vh;
 background:
 linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
 url(“pumas.jpeg”);
background-size:cover;
 background-position:center;
 display:flex;
 justify-content:center;
 align-items:center;
 text-align:center;
 }
.overlay{
 max-width:800px;
 padding:20px;
 }
.hero-header h1{
 font-size:80px;
 font-weight:800;
 letter-spacing:3px;
 margin-bottom:20px;
 }
.hero-header p{
 font-size:22px;
 margin-bottom:35px;
 }
.btn-principal{
 background:#ff6b00;
 color:white;
 padding:18px 35px;
 border-radius:12px;
 text-decoration:none;
 font-weight:700;
 transition:.3s;
 }
.btn-principal:hover{
 transform:scale(1.05);
 }
.frase{
 padding:80px 20px;
 text-align:center;
 }
.frase h2{
 font-size:34px;
 max-width:900px;
 margin:auto;
 line-height:1.5;
 }
.foto-seccion{
 display:flex;
 justify-content:center;
 padding:30px;
 }
.foto-seccion img{
 width:90%;
 max-width:1000px;
 border-radius:20px;
 box-shadow:0 10px 25px rgba(0,0,0,.4);
 }
.cliente{
 padding:80px 0;
 }
.cliente h3{
 font-size:32px;
 margin-bottom:25px;
 text-align:center;
 }
input,
 select{
 width:100%;
 padding:16px;
 margin-bottom:15px;
 border:none;
 border-radius:12px;
 font-size:16px;
 }
.productos{
 padding:80px 0;
 }
.productos h3{
 text-align:center;
 font-size:40px;
 margin-bottom:40px;
 }
#catalogo{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
 gap:30px;
 }
.producto{
 background:#172330;
 border-radius:18px;
 padding:20px;
 text-align:center;
 transition:.3s;
 }
.producto:hover{
 transform:translateY(-6px);
 }
.producto img{
 width:100%;
 height:220px;
 object-fit:contain;
 margin-bottom:15px;
 }
.producto h4{
 font-size:22px;
 margin-bottom:10px;
 }
.producto p{
 margin-bottom:8px;
 }
.controles{
 display:flex;
 justify-content:center;
 align-items:center;
 gap:10px;
 margin-top:15px;
 }
.controles button{
 width:40px;
 height:40px;
 border:none;
 border-radius:50%;
 background:#ff6b00;
 color:white;
 font-size:22px;
 cursor:pointer;
 }
.pedido{
 padding:100px 20px;
 text-align:center;
 }
.pedido h2{
 font-size:40px;
 margin-bottom:30px;
 }
#enviarPedido{
 padding:20px 40px;
 font-size:20px;
 background:#ff6b00;
 color:white;
 border:none;
 border-radius:12px;
 cursor:pointer;
 }
footer{
 background:#0b121a;
 text-align:center;
 padding:50px;
 margin-top:50px;
 }
footer h3{
 margin-bottom:15px;
 font-size:28px;
 }
footer p{
 margin-bottom:10px;
 }
@media(max-width:768px){
.hero-header h1{
 font-size:48px;
 }
.hero-header p{
 font-size:18px;
 }
.frase h2{
 font-size:26px;
 }
.productos h3{
 font-size:30px;
 }
}
